
{% for i in struct %}

interface {{ i.corder.declareType() }}{
    {%- for j in i.storage %}
    {{ j.name }} : {{ j.corder.declareType() }}
    {%- endfor %}
}

{% endfor %}

export class {{ util.makeUpperCamelCase(name, "-") }} {
    static version: string = "{{ version }}"
    constructor(){
    }
{% for i in request %}
    {{ i.corder.functionName() }}(
{%- for j in i.storage %}
        {{j.name}}: {{j.corder.declareType() | safe}}
{%- endfor %}
    ): Promise<{{i.corder.declareType() | safe}}> {
        return this.request("{{ i.name }}", [
{%- for j in i.storage %}
            {{j.name}}
{%- endfor %}
        ])
    }
{% endfor %}
}

