
{% for i in struct %}

interface {{ i.corder.declareType() }}{
    {%- for j in i.storage %}
    {{ j.name }} : {{ j.corder.declareType() }}
    {%- endfor %}
}

{% endfor %}

export class {{ util.makeUpperCamelCase(name, "-") }} {
    static version: string = "{{ version }}"
    constructor(){
    }
{% for i in request %}
    {{ i.corder.functionName() }}(): {{i.corder.declareType() | safe}} {
        return this.request("{{ i.name }}", [
        ])
    }
{% endfor %}
}

